

/* Chat.css */
.topcontainer {
  display: flex;
  height: 100vh;
}

.topcontactList {
  width: 25%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatBox{
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.karyakarthaDetails {
  width: 25%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Apply these class names to your respective components */
